<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Boot</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <div class="starter-template">
            <h1>Links</h1>
            <ul th:each ="data : ${list}">
                <li><a th:href="${data}" target="_blank"><td th:utext="${data}">...</td></a> </li>
            </ul>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>